@import "./animations";




body {
    // background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
    background: #151515;
    font-family: "Poppins", sans-serif;
    overflow-x: hidden;
    overflow-y: auto;
    // height: 100vh;
    scroll-behavior: smooth;
    color: #151515;
}

main {
    overflow-x: hidden;
}

section {
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}